insmod efi_gop
insmod efi_uga
insmod font
insmod all_video

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=auto
    terminal_input console
    terminal_output gfxterm
fi

set gfxpayload=keep

menuentry "Pointer" {
    multiboot2 /boot/kernel.bin
    boot
}